<div class="organizer-sidebar">
    <div class="sidebar-logo">
        EzTicket
    </div>

    <ul>
        <li>
            <a href="{{ url_for('admin.index') }}">
                <i class="fa fa-chart-line"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a href="{{ url_for('event.index_view') }}">
                <i class="fa-solid fa-calendar-days"></i>
                Quản lý sự kiện
            </a>
        </li>
        <li>
            <a href="{{ url_for('admin_accounts') }}">
                <i class="fa-solid fa-users-gear"></i>
                Quản lý tài khoản
            </a>
        </li>
        <li>
            <a href="{{ url_for('home') }}">
                <i class="fa fa-house"></i>
                Trang chủ
            </a>
        </li>
        <li>
            <a href="{{ url_for('logout') }}">
                <i class="fa fa-right-from-bracket"></i>
                Đăng xuất
            </a>
        </li>
    </ul>
</div>