<div class="organizer-sidebar">

    <div class="sidebar-logo">

        EzTicket

    </div>

    <ul>

        <li>

            <a href="{{ url_for('organizer_dashboard') }}">

                <i class="fa fa-chart-line"></i>

                Dashboard

            </a>

        </li>

        <li>

            <a href="{{ url_for('organizer_events') }}">

                <i class="fa fa-calendar"></i>

                Quản lý sự kiện

            </a>

        </li>

        <li>

            <a href="{{ url_for('logout') }}">

                <i class="fa fa-right-from-bracket"></i>

                Đăng xuất

            </a>

        </li>

    </ul>

</div>