{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header">

            <h4>Thêm loại vé</h4>

        </div>

        <div class="card-body">

            <form method="post">

                <div class="mb-3">

                    <label>Loại vé</label>

                    <select
                            class="form-select"
                            name="ticket_type">

                        {% for t in ticket_types %}

                        <option value="{{ t.id }}">

                            {{ t.name }}

                        </option>

                        {% endfor %}

                    </select>

                </div>

                <div class="mb-3">

                    <label>Giá vé</label>

                    <input
                            class="form-control"
                            type="number"
                            name="price"
                            required>

                </div>

                <div class="mb-3">

                    <label>Số lượng</label>

                    <input
                            class="form-control"
                            type="number"
                            name="quantity"
                            required>

                </div>

                <button class="btn btn-success">

                    Lưu

                </button>

                <a
                        href="{{ url_for('event_detail',event_id=event.id) }}"
                        class="btn btn-secondary">

                    Hủy

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}