{% extends 'layout/base.html' %}

{% block content %}

<div class="container mt-4">

    <h2>{{ event.name }}</h2>

    <a
            class="btn btn-success mb-3"
            href="{{ url_for('create_ticket',event_id=event.id) }}">

        Thêm vé

    </a>

    <table class="table table-bordered">

        <thead>

        <tr>

            <th>Loại vé</th>

            <th>Giá</th>

            <th>Số lượng</th>

            <th></th>

        </tr>

        </thead>

        <tbody>

        {% for t in tickets %}

        <tr>

            <td>{{ t.ticket_type.name }}</td>

            <td>{{ "{:,.0f}".format(t.price) }}</td>

            <td>{{ t.quantity }}</td>

            <td>

                <a
                        class="btn btn-warning btn-sm"
                        href="{{ url_for('edit_ticket',ticket_id=t.id) }}">

                    Sửa

                </a>


            </td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}