SECRET_KEY=""
DATABASE_URL=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
GEMINI_API_KEY=""
MOMO_PARTNER_CODE=""
MOMO_ACCESS_KEY=""
MOMO_SECRET_KEY=""
MOMO_PAYMENT_URL=""
MAIL_USERNAME=""
MAIL_PASSWORD=""
FIREBASE_CREDENTIALS_PATH=""
FIREBASE_DATABASE_URL=""
FIREBASE_SERVICE_ACCOUNT=""
